<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上海交通大学</title>
    <style>
        .box {
            font: normal 11px verdana;
            float: left;
            position: relative;
        }

        .box ul {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 150px;
            border-bottom: 1px solid greenyellow;
        }

        .box ul li {
            position: relative;
        }

        .box li ul {
            position: absolute;
            left: 150px;
            top: 0;
            display: none;
        }
        .box ul li a {
            display: block;
            text-decoration: none;
            color: black;
            background: skyblue;
            padding: 25px;
            border: 1px solid grey;
            border-bottom: 0;
        }

        .box ul li a:hover {
            color: grey;
            background: skyblue;
        }

        .box li ul li a {
            padding: 7px 5px;
        }

        .box li:hover ul, li.over ul {
            display: block;
        }
        img{
            float: left;
        }
    </style>
</head>
<body>
<div style="width: 100%;height: 750px;background-color: blanchedalmond;position: fixed">
    <div class="box">
        <ul id="nav1">
            <li><a href="#">十大名校</a></li>
            <li><a href="#">清华大学</a>
                <ul>
                    <li><a href="清华大学.html">学校概况</a></li>
                    <li><a href="清华大学.html">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="#">北京大学</a>
                <ul>
                    <li><a href="北京大学.html">学校概况</a></li>
                    <li><a href="北京大学.html">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="#">浙江大学</a>
                <ul>
                    <li><a href="浙江大学.html">学校概况</a></li>
                    <li><a href="#">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="#">上海交通大学</a>
                <ul>
                    <li><a href="上海交通大学.html">学校概况</a></li>
                    <li><a href="#">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">南京大学</a>
                <ul>
                    <li><a href="南京大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">复旦大学</a>
                <ul>
                    <li><a href="复旦大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">中国科学技术大学</a>
                <ul>
                    <li><a href="中国科学技术大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">华中科技大学</a>
                <ul>
                    <li><a href="华中科技大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">武汉大学</a>
                <ul>
                    <li><a href="武汉大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">西安交通大学</a>
                <ul>
                    <li><a href="西安交通大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <h2 style="font-size: 20px;color: aqua;width: 450px;"><b>上海交通大学学校概况:</b></h2>
    <img src="image/上海交通大学.jpg" alt="" height="350px" width="450px" draggable="true" >
    <form action=""style="float: left">
        <textarea name="" id="1" cols="30" rows="24" style="margin: 0 40px 0 40px;background: linear-gradient(#FAD961,#F76B1C)">
       历史延年：
            南洋公学
Nan Yang College,Shanghai,China 1896-1904
商部上海高等实业学堂
Imperial Polytechnic College,Shanghai,China 1905-1906
邮传部上海高等实业学堂
Imperial Polytechnic College of Ministry of Communication 1906-1911
南洋大学堂
Imperial College of Nan Yang 1911-1912
交通部上海工业专门学校
The Govermment Institute of Technology,Shanghai,China 1912-1921
交通大学上海学校
Chiao Tung University,Shanghai Branch 1921-1922
        </textarea>
    </form>
    <form action="" style="float: left">
        <textarea name="" id="2" cols="30" rows="24" style="margin: 0 40px 0 40px;background: linear-gradient(#7117EA,#EA6060)" >
       历史延年：
            交通部南洋大学
Chiao-Tung-Pu Nan Yang University 1922-1927
交通部第一交通大学
Chiao-Tung-Pu No.1 Chiao-Tung University 1927-1928
国立交通大学（上海本部）
National Chiao Tung University, Formerly Nanyang University 1928-1942
国立交通大学（重庆总校）
National Chiao Tung University, Chongqing Main Campus 1942-1946
交通大学
Jiao Tong University 1946-1957
交通大学上海部分
Jiao Tong University，Shanghai Branch 1957-1959
上海交通大学
Shanghai Jiao Tong University 1959-2005
        </textarea>
    </form>
    <form action=""style="float: left">
        <textarea name="" id="3" cols="30" rows="24" style="margin: 0 20px 0 20px;background: linear-gradient(#E3E3E3,#5D6874)">
       历史延年：
            圣约翰大学医学院
Medical School of the St.John’s University 1896-1952
震旦大学医学院
Medical College of Aurora University 1911-1952
同德医学院
Tong-De Medical College 1918-1952
上海第二医学院
Shanghai Second Medical College 1952-1985
上海第二医科大学
Shanghai Second Medical University 1985-2005
            上海交通大学
Shanghai Jiao Tong University 2005-至今
        </textarea>
    </form>
    <div style="height:333px;width:1335px;background:linear-gradient(#00ABEE,#F8F8BA);float: left;margin:0 10px 0 10px">
        <details style="width: 60%;height: 100%;float: left;" open>
            <summary>学校简介：</summary>
            上海交通大学是我国历史最悠久、享誉海内外的著名高等学府之一，是教育部直属并与上海市共建的全国重点大学。经过125年的不懈努力，上海交通大学已经成为一所国内一流、国际知名大学，并在新的历史节点，进一步明确了构建“综合性、创新型、国际化”世界一流大学的愿景目标。
            十九世纪末，甲午战败，民族危难。中国近代著名实业家、教育家盛宣怀<mark>秉持“自强首在储才，储才必先兴学”的信念</mark>，于1896年在上海创办了交通大学的前身——南洋公学。建校伊始，学校即<strong>确立“求实学，务实业”的宗旨，以培养“第一等人才”为教育目标，精勤进取</strong>，笃行不倦，在二十世纪二三十年代已成为国内著名的高等学府，被誉为“东方麻省理工”。抗战时期，广大师生历尽艰难，移转租界，内迁重庆，坚持办学，不少学生投笔从戎，浴血沙场。解放前夕，广大师生积极投身民主革命，学校被誉为“民主堡垒”。
            新中国成立初期，为配合国家经济建设的需要，构建新中国的高等教育体系，学校调整出相当一部分优势专业、师资设备，支持国内兄弟院校的发展。五十年代中期，学校又响应国家建设大西北的号召，经历西迁与分设，分为交通大学上海部分和西安部分。1959年3月两部分同时被列为全国重点大学，7月经国务院批准分别独立建制，交通大学上海部分启用“上海交通大学”校名。六七十年代，学校先后归属国防科委和第六机械工业部领导，积极投身国防人才培养和国防科研，为“两弹一星”和国防现代化做出了巨大贡献。
        </details>
        <div style="height: 320px;width: 20%;;float: left;background:linear-gradient(#D3F0F1,#37D8E8);overflow: scroll;margin: 10px">
            <h3 style="text-align: center">上海交大党委理论学习中心组召开中央巡视整改专题学习会</h3>
            11月8日，上海交大党委理论学习中心组开展“不断提高政治站位，切实抓好巡视整改后半篇文章”专题学习研讨，强调要深入贯彻落实习近平总书记听取中央第七轮巡视汇报时的重要指示精神和中央巡视工作领导小组集中反馈会议工作要求，打牢开好巡视整改专题民主生活会的思想基础。校党委书记杨振斌,校长林忠钦以及全体校领导、校党委理论学习中心组成员参加学习。学习会由杨振斌主持。
            与会中心组成员结合前期个人自学和学校工作实际，围绕如何进一步加强政治建设、强化政治担当，如何在积极服务国家重大战略、构建新时代思政工作体系、提升拔尖人才培养质量、坚持全面从严治党等方面抓好整改等进行交流研讨。大家一致认为，习近平总书记关于巡视工作的重要讲话精神为学校做好巡视整改工作提供了基本遵循，学校党委要深入剖析反馈意见，全面落实整改举措，着力构建长效机制，将整改过程中形成的好做法、好经验贯穿在今后的工作中。校党委理论学习中心组成员要切实发挥“关键少数”示范带头作用，不断加强政治建设，提升政治判断力、政治领悟力、政治执行力，以高度的政治自觉扎实做好中央巡视整改工作。
        </div>
        <ul type="none" style="margin:20px;">
            <li style="margin: 25px;text-align: center;"><a href="https://www.tsinghua.edu.cn/yxsz.htm" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>院系设置</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="https://www.tsinghua.edu.cn/jyjx.htm" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>教育教学</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="https://www.tsinghua.edu.cn/kxyj.htm" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>科学研究</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="https://www.tsinghua.edu.cn/zsjy.htm" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>招生就业</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="https://www.tsinghua.edu.cn/hzjl.htm" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>合作交流</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="https://www.tsinghua.edu.cn/zjqh.htm" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>走进清华</b></a></li>
        </ul>

    </div>
</div>

</body>
</html>