<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>关于我们</title>
  <style>
    body{text-align: center}
  </style>
</head>
<body>
<div><img  th:src="@{../img/guanyu.jpg}"></div>
<br><font size="10" style="font-family: 楷体">关于我们</font>
<br><font size="4" style="font-family: 楷体">为其塑造全新品牌视觉形象，其是一家座落于国家软件产业基地XXX内的智能科技公司,该公司是中国XX进入XX增值业务和拥有语音增值业务产品的企业，
  其软件产品在 电信运商、政府信息化、大中型企业 等行业客户领域得到了广泛应用。
  连续多年被认定为国家规划布局内XX软件企业、国家高新技术企业、广州软件园XX企业、国家计算机信息系统集成XXX资质企业、
  重信用守合同企业、省级安全技术防范XX企业，2003年获得由美国XXX认可的CMM（软件能力成熟度模型）XX级证书</font>
</body>
</html>
