<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>南京大学</title>
    <style>
        .box {
            font: normal 11px verdana;
            float: left;
            position: relative;
        }

        .box ul {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 150px;
            border-bottom: 1px solid greenyellow;
        }

        .box ul li {
            position: relative;
        }

        .box li ul {
            position: absolute;
            left: 150px;
            top: 0;
            display: none;
        }
        .box ul li a {
            display: block;
            text-decoration: none;
            color: black;
            background: skyblue;
            padding: 25px;
            border: 1px solid grey;
            border-bottom: 0;
        }

        .box ul li a:hover {
            color: grey;
            background: skyblue;
        }

        .box li ul li a {
            padding: 7px 5px;
        }

        .box li:hover ul, li.over ul {
            display: block;
        }
        img{
            float: left;
        }
    </style>
</head>
<body>
<div style="width: 100%;height: 750px;background-color: blanchedalmond;position: fixed">
    <div class="box">
        <ul id="nav1">
            <li><a href="#">十大名校</a></li>
            <li><a href="#">清华大学</a>
                <ul>
                    <li><a href="清华大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="#">北京大学</a>
                <ul>
                    <li><a href="北京大学.html">学校概况</a></li>
                    <li><a href="#">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="#">浙江大学</a>
                <ul>
                    <li><a href="浙江大学.html">学校概况</a></li>
                    <li><a href="#">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="#">上海交通大学</a>
                <ul>
                    <li><a href="上海交通大学.html">学校概况</a></li>
                    <li><a href="#">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">南京大学</a>
                <ul>
                    <li><a href="南京大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">复旦大学</a>
                <ul>
                    <li><a href="复旦大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">中国科学技术大学</a>
                <ul>
                    <li><a href="中国科学技术大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">华中科技大学</a>
                <ul>
                    <li><a href="华中科技大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">武汉大学</a>
                <ul>
                    <li><a href="武汉大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">西安交通大学</a>
                <ul>
                    <li><a href="西安交通大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <h2 style="font-size: 20px;color: aqua;width: 450px;"><b>南京大学学校概况:</b></h2>
    <img src="image/南京大学.webp" alt="" height="350px" width="450px" draggable="true" >
    <form action=""style="float: left">
        <textarea name="" id="1" cols="30" rows="24" style="margin: 0 40px 0 40px;background: linear-gradient(#00DBDE,#FC00FF)">
       一、三江师范学堂的创建
（一） 虎踞龙蟠地

20世纪50年代至70年代末，在南京大学的北阴阳营教工宿舍区多次出土了先民遗骨和石斧、玉璜、陶鬲等器物，
            表明早在六千多年前，就有先民在此繁衍生息，形成了原始氏族的村落。
            春秋时期吴越争霸，处在“吴头楚尾”的南京地区成为兵家必争之地。公元前495年，吴王夫差曾在今朝天宫修筑冶城，锻铸吴钩名剑；
            23年后，攻灭吴国的范蠡领兵在今中华门外长干里修筑起一座“二十里八十步”的越城。屈指数来，至今南京已有将近2500年的建城历史。
南京“地连三楚，势控两江”，凭借万里长江天堑，又得紫金、幕府等群山屏障，江山雄奇，人杰地灵，令出使东吴的诸葛亮登临揽胜后连连击节赞叹：
            “钟山龙蟠，石城虎踞，真帝王之宅也。”自三国东吴孙权在此建都并依山而筑石头城以来，东晋、宋、齐、梁、陈、南唐、明、太平天国、中华民国等都将南京作为都会，
            因而南京不但有“十朝故都”之称，而且跻身中国“六大古都”之列。
        </textarea>
    </form>
    <form action="" style="float: left">
        <textarea name="" id="2" cols="30" rows="24" style="margin: 0 40px 0 40px;background: linear-gradient(#FFF720,#3CD500)" >
       （二） 求强思变时

一个多世纪以前的中国，由于清王朝统治日趋腐朽，长期闭关锁国，国力日渐衰颓，西方列强相继入侵，
            1840年8月，第一次鸦片战争失败，中国历史上第一个丧权辱国的不平等条约——《中英南京条约》，就是在下关静海寺签订的。
            19世纪末，国濒危亡，处于被列强豆剖瓜分、蚕食鲸吞的境地。侵略者的“坚船利炮”轰破了许多中国人“天朝大国”的梦幻，深重的民族危机唤醒了中国人民求强思变的意识，
            “御外侮而欲求强，为求强而欲变革”的呼声更是上下迭起。一批忧时爱国、追求进步的志士仁人首先喊出了“兴学图强”的口号。
            他们指出：“中国不贫于财而贫于人才，不弱于兵而弱于志气……保邦致治，非人无由”（张之洞、刘坤一：《奏议变通政治人才为先折》，《张文襄公奏稿》第三十二，
            民国庚申年木刻本，第1页。）；国之“亡而存之，废而举之，愚而智之，弱而强之，条理万端，皆归本于学校。”“今国家而不欲自强而已，苟欲自强，则悠悠万事，
            惟此为大，虽百举未遑，犹先图之。”（梁启超：《学校总论》，《饮冰室合集》文集第一册，上海中华书局1941年版，第18、20页。）
        </textarea>
    </form>
    <form action=""style="float: left">
        <textarea name="" id="3" cols="30" rows="24" style="margin: 0 20px 0 20px;background: linear-gradient(#EEAD92,#6018DC)">
       （三） 三江创始者

三江师范学堂的创始者，是1902年前后相继担任或署理两江总督的刘坤一、张之洞和魏光焘。

刘坤一：倡议“应从师范学堂入手”
刘坤一（1830～1902），字岘庄，湖南新宁人。1874年他曾署理两江，次年擢两广总督。1879－1881,1890-1902，刘坤一两度出任两江总督。
            除了甲午战争期间，刘坤一奉旨北上指挥对日战争，由湖广总督张之洞署理两江一年多外，刘坤一前后驻节江宁十多年，最后病逝于两江任上。
刘坤一在两江总督任上，与时任湖广总督的张之洞来往密切，同气相求。他曾和张之洞、盛宣怀等结成“东南互保”联盟，1901年7月，
            他和张之洞在十天内联衔具奏《湖广、两江总督会奏三疏》，史称“变法三疏”。在“第一疏”即《变通政治人才为先折》中，刘、张就提出“育才兴学之大端”四项：
            “一曰设文武学堂；二曰酌改文科；三曰停罢武科；四曰奖励游学。”（转引自舒新城编：《中国近代教育史资料》上册第47页，人民教育出版社1961年版。）史家认为，
            “变法三疏”实际上是“清末新政的实施大纲”。刘坤一向来重视兴学育才，在两江任上，他曾创立“江省郡县学堂”，又设立农工商矿学堂和练将学堂；他甚至倡议兴办女子公塾，
            让一般女子也有接受教育的机会。（王玉棠著：《刘坤一评传》，暨南大学出版社1990年版，第189页。）
        </textarea>
    </form>
    <div style="height:333px;width:1335px;background:linear-gradient(#00ABEE,#F8F8BA);float: left;margin:0 10px 0 10px">
        <details style="width: 60%;height: 100%;float: left;" open>
            <summary>学校简介：</summary>
            南京大学坐落于钟灵毓秀、虎踞龙蟠的金陵古都，是一所历史悠久、声誉卓著的百年名校。
            其前身是创建于1902年的三江师范学堂，此后历经两江师范学堂、南京高等师范学校、国立东南大学、国立第四中山大学、国立中央大学、国立南京大学等历史时期，
            于1950年更名为南京大学。1952年，在全国高校院系调整中，南京大学调整出工学、农学、师范等部分院系后与创办于1888年的金陵大学文、理学院等合并，
            仍名南京大学。校址从四牌楼迁至鼓楼金大原址。
            在一个多世纪的办学历程中，<strong>南京大学及其前身与时代同呼吸、与民族共命运，谋国家之强盛、求科学之进步，为国家的富强和民族的振兴做出了重要的贡献。</strong>
            尤其是改革开放以来，作为教育部直属的重点综合性大学，南京大学又在崭新的历史机遇中焕发出新的生机，在教学、科研和社会服务等各个领域保持良好的发展态势，
            各项办学指标和综合实力均位居全国高校前列。1994年，南京大学被确定为国家“211工程”重点支持的大学；<mark>1999年，南京大学进入国家“985工程”首批重点建设的高水平大学行列</mark>；
            2006年，教育部和江苏省再次签订重点共建南京大学的协议；2011年，教育部和江苏省签署协议继续重点共建南京大学；2016年，南京大学入选首批国家级双创示范基地；
            2017年，南京大学入选A类世界一流大学建设高校名单，15个学科入选世界一流学科建设名单。
        </details>
        <div style="height: 320px;width: 20%;;float: left;background:linear-gradient(#F2D50F,#DA0641);overflow: scroll;margin: 10px">
            <h3 style="text-align: center">档案馆接待博士生讲师团参观鼓楼校区 助力党史校史教育活动</h3>
            6月4日下午，档案馆党支部围绕“学党史悟思想办实事开新局”开展好党史学习教育活动，积极为学生做“暖心事”，倾心接待了南京大学博士生讲师团参观鼓楼校区。档案馆党支部书记吴玫精心设计了参观路线，并安排校史馆熟悉老建筑的工作人员全程陪同、全程讲解。
            此次参观从拉贝旧居出发，途经南园八舍、陶园南楼、何应钦公馆、金大建筑群、赛珍珠旧居等建筑，并到烈士纪念碑前缅怀先烈，致敬英雄。校史馆工作人员带领同学在老建筑里深入了解，近距离感受南京大学一百多年来的发展历程和沧桑巨变。
            二源壁虽在过往的历史中留下了残破的痕迹，却铭记着我校“两江师范学堂”和“金陵大学堂”的前身和源头。诺贝尔文学奖获得者赛珍珠女士的旧居承载了赛珍珠女士及其丈夫在南大任教的时光记忆及其对中国的深厚感情，获诺贝尔文学奖的作品《大地》就诞生在这里。在北园的篮球场旁矗立着1935年建造的43.67米的金陵大学旗杆，它反映了抗日救亡年代金大师生对敌国挑衅的不满与反制，彰显的是金大师生的志气与团结。1982年南大全体师生捐资建造的革命烈士纪念碑上镌刻的21位烈士姓名，他们是南大校史上慷慨赴难、英勇献身的杰出代表，深刻反映着南大师生一个多世纪以来“爱党、爱国、爱南大”的光荣传统和家国情怀。
        </div>
        <ul type="none" style="margin:20px;">
            <li style="margin: 25px;text-align: center;"><a href="https://www.tsinghua.edu.cn/yxsz.htm" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>院系设置</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="https://www.tsinghua.edu.cn/jyjx.htm" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>教育教学</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="https://www.tsinghua.edu.cn/kxyj.htm" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>科学研究</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="https://www.tsinghua.edu.cn/zsjy.htm" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>招生就业</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="https://www.tsinghua.edu.cn/hzjl.htm" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>合作交流</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="https://www.tsinghua.edu.cn/zjqh.htm" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>走进清华</b></a></li>
        </ul>

    </div>
</div>

</body>
</html>