<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浙江大学</title>
    <style>
        .box {
            font: normal 11px verdana;
            float: left;
            position: relative;
        }

        .box ul {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 150px;
            border-bottom: 1px solid greenyellow;
        }

        .box ul li {
            position: relative;
        }

        .box li ul {
            position: absolute;
            left: 150px;
            top: 0;
            display: none;
        }
        .box ul li a {
            display: block;
            text-decoration: none;
            color: black;
            background: skyblue;
            padding: 25px;
            border: 1px solid grey;
            border-bottom: 0;
        }

        .box ul li a:hover {
            color: grey;
            background: skyblue;
        }

        .box li ul li a {
            padding: 7px 5px;
        }

        .box li:hover ul, li.over ul {
            display: block;
        }
        img{
            float: left;
        }
    </style>
</head>
<body>
<div style="width: 100%;height: 750px;background-color: blanchedalmond;position: fixed">
    <div class="box">
        <ul id="nav1">
            <li><a href="#">十大名校</a></li>
            <li><a href="#">清华大学</a>
                <ul>
                    <li><a href="清华大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="#">北京大学</a>
                <ul>
                    <li><a href="北京大学.html">学校概况</a></li>
                    <li><a href="#">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="#">浙江大学</a>
                <ul>
                    <li><a href="浙江大学.html">学校概况</a></li>
                    <li><a href="#">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="#">上海交通大学</a>
                <ul>
                    <li><a href="上海交通大学.html">学校概况</a></li>
                    <li><a href="#">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">南京大学</a>
                <ul>
                    <li><a href="南京大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">复旦大学</a>
                <ul>
                    <li><a href="复旦大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">中国科学技术大学</a>
                <ul>
                    <li><a href="中国科学技术大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">华中科技大学</a>
                <ul>
                    <li><a href="华中科技大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">武汉大学</a>
                <ul>
                    <li><a href="武汉大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
            <li><a href="">西安交通大学</a>
                <ul>
                    <li><a href="西安交通大学.html">学校概况</a></li>
                    <li><a href="">学校新闻</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <h2 style="font-size: 20px;color: aqua;width: 450px;"><b>浙江大学学校概况:</b></h2>
    <img src="image/浙江大学.webp" alt="" height="350px" width="450px" draggable="true" >
    <form action=""style="float: left">
        <textarea name="" id="1" cols="30" rows="24" style="margin: 0 40px 0 40px;background: linear-gradient(#B725DF,#83F4D9)">
       西迁历史：
            1937年“七七事变”后，抗日战争全面爆发。面对日本侵略军的大规模军事进攻和对中国高等教育的蓄意破坏，
            我国高等学校为救亡图存，保存民族元气，开始了艰苦卓绝的西迁历程，谱写了一部可歌可泣的高校西迁史。
            在这场历时数年，涉及我国绝大部分高校的西迁运动中，浙江大学面对恶劣的环境，在竺可桢校长的卓越领导和西迁途中各地民众的大力支持下，
            艰苦奋斗、求是创新，成为在艰难困苦中崛起的“东方剑桥”，为中国抗日战争的胜利作出了特殊贡献。
    浙大西迁具有很高的历史文化价值，这种价值源于浙大西迁所具有的广泛的代表性。
            浙大西迁是中国抗战期间整个高校西迁运动的缩影，它真实地反映了我国知识分子不屈不挠、奋发图强、服务抗战、振兴后方的高尚品格和优良业绩。
            可以说，以浙大西迁为代表的中国高校西迁运动是我国抗日战争历史的一个重要组成部分，是我国高等教育发展的一个重要时期，
            是我国西部大开发的先行军，也是科教兴国、人才强国的一个很好的典型。
        </textarea>
    </form>
    <form action="" style="float: left">
        <textarea name="" id="2" cols="30" rows="24" style="margin: 0 40px 0 40px;background: linear-gradient(#F8E71C,#D0021B)" >
       竺可桢馆：
            竺可桢是我国现代科学、教育事业的巨匠。他不仅是地理学界、气象学界的一代宗师，同时也是推动我国现代自然科学，特别是基础科学发展，并为之奋斗终身的先驱之一。在抗日战火中，他以惊人的魅力和非凡的胆略率领浙江大学师生转辗西迁，流亡办学。他卓越的教学思想、执著的求是精神，团结大众，身体力行，使浙大在极其艰难困苦的条件下，崛起成为全国著名大学，在中国现代教育史上留下了灿烂的一页。
　　竺可桢又是我国现代科学家、教育家的一面旗帜。他的一生，乃是求是、奋斗的一生，是爱国、爱民、爱科学的一生。他学识渊博深邃、胸襟豁达开朗、治学严谨勤奋、待人宽厚至诚，堪称是“品格和学问的伟人”。
“一代楷模、风范永存”。竺可桢为我国科教事业所做的杰出贡献将永垂史册，他的崇高精神和感人品格已成为千古表率，将永远激励我们为在新世纪实现“科教兴国”的宏伟战略目标而努力拼搏。
　　竺可桢纪念展由一生求是、一代师表、科学贡献和风范永存组成。
        </textarea>
    </form>
    <form action=""style="float: left">
        <textarea name="" id="3" cols="30" rows="24" style="margin: 0 20px 0 20px;background: linear-gradient(#A1C1DA,#F2F5FB)">
       馆藏书画：
            在档案馆的馆藏中有许多珍贵档案，书画作品就是其中之一。目前馆藏800余幅书画已全部数字化，我们选取了其中的500多幅，以网上展览的形式奉献给大家。
　　这里既有艺术大师的精品、名人学者的墨迹、科学家的佳作，也有广大校友的艺术创作和浙大师生追求书画艺术的足迹。从这一幅幅书画作品中，你将接收到美学教育和艺术熏陶，会感受到历届校友对母校的拳拳之情，更能体会出浙大师生奋发向上、"求是创新"的精神风貌。总之，你可以从一个侧面领略到浙江大学这所中华百年高等学府深厚的文化积淀和艺术底蕴。
　　本展览的书画按浙江大学、杭州大学、浙江农业大学、浙江医科大学及书画的档号顺序编排，档号则按书画进馆时间先后编排。
        </textarea>
    </form>
    <div style="height:333px;width:1335px;background:linear-gradient(#BDC2E8,#E6DEE9);float: left;margin:0 10px 0 10px">
        <details style="width: 60%;height: 100%;float: left;" open>
            <summary>学校简介：</summary>
            学校概况
            　　浙江大学是一所历史悠久、声誉卓著的高等学府，坐落于中国历史文化名城、风景旅游胜地杭州。
            浙江大学的前身求是书院创立于1897年，为中国人自己最早创办的新式高等学校之一。
            1928年，定名国立浙江大学。
            留在杭州的主体部分被分为多所单科性院校，后分别发展为原浙江大学、杭州大学、浙江农业大学和浙江医科大学。
            1998年，同根同源的四校实现合并，组建了新浙江大学，迈上了创建世界一流大学的新征程。习近平总书记主政浙江期间，亲自联系浙江大学，
            18次莅临指导，对学校改革发展作出了一系列重要指示，描绘了高水平建成中国特色世界一流大学的宏伟蓝图。在120多年的办学历程中，
            浙江大学始终秉承以“求是创新”为校训的优良传统，以天下为己任、以真理为依归，
            逐步形成了<strong>“勤学、修德、明辨、笃实”的浙大人共同价值观和“海纳江河、启真厚德、开物前民、树我邦国”的浙大精神。</strong>
            浙江大学是一所特色鲜明、在海内外有较大影响的综合型、研究型、创新型大学，
            学科涵盖哲学、经济学、法学、教育学、文学、历史学、艺术学、理学、工学、农学、医学、管理学、交叉学科等13个门类，
            设有7个学部、37个专业学院（系）、1个工程师学院、2个中外合作办学机构、7家直属附属医院。
            学校现有紫金港、玉泉、西溪、华家池、之江、舟山、海宁等7个校区，占地面积6223440平方米，图书馆总藏书量787万册。
            截至2020年底，学校有全日制学生60739人、国际学生5596人、教职工9674人，<mark>教师中有中国科学院院士、中国工程院院士（含双聘）52人、文科资深教授15人、
            教育部“长江学者奖励计划”特聘教授101人、国家杰出青年科学基金获得者154人。</mark>在国家公布的“双一流”建设名单中，学校入选一流大学建设高校（A类），
            18个学科入选一流建设学科，居全国高校第三。
        </details>
        <div style="height: 320px;width: 20%;;float: left;background:linear-gradient(#6698C6,#DC2E2E);overflow: scroll;margin: 10px">
            <h3 style="text-align: center">第一届浙江大学国华杰出学者奖颁奖典礼举行</h3>
            11月10日，第一届浙江大学国华杰出学者奖颁奖典礼在紫金港校区举行。校党委书记任少波、碧桂园集团办华东大区总经理付成霞为获奖者颁奖。
            2019年6月，碧桂园集团董事局主席杨国强先生捐资设立了浙江大学国华杰出学者奖，大力支持学校师资队伍建设和学术研究，助力学校创建世界一流大学。
            根据评选办法，航空航天学院黎军教授、计算机科学与技术学院任奎教授、农业与生物技术学院Paul Boulos Chalhoub教授获得首届浙江大学国华杰出学者奖。
            任少波向首届浙江大学国华杰出学者奖获得者表示祝贺。他指出，人才是决胜未来的关键力量，一所受尊敬的大学，一定要有受尊敬的教师，能培养受尊敬的学生。
            在瞄准更远大目标实现各项事业守正创新、迭代升级的过程中，必须打造一支受人尊敬的教师队伍。希望获奖的教师珍惜荣誉、崇尚荣誉，以本次获奖为新的起点，
            充分发挥标杆和榜样作用，坚定理想信念、胸怀使命愿景，聚焦主责主业、礼敬育人天职，践行“四个面向”、服务“国之大者”，为民族伟大复兴事业发展作出更大贡献。
            他感谢碧桂园集团对学校的鼎力支持，并表示，在新的历史起点上，浙江大学将倍加珍惜社会各界的鼓励和支持，扎根大地、铸魂育人、攻坚善治，
            打造一支善于解决中国问题、具有重大国际影响力、真正受人尊敬和高水平的师资队伍，加快建设中国特色世界一流大学，以更加优异的办学成绩回报社会各界的关心与厚爱。
            付成霞表示，浙江大学作为国内顶尖的综合型、研究型、创新型大学，历来大师辈出，为国家的科技进步和人才培养作出了卓越的贡献。
            碧桂园将“为社会创造幸福生活”作为企业的发展目标，大力发展机器人、现代农业、社区零售等促进社会进步的新业务，向着“高科技综合性企业”转型。
            未来，国强公益基金会将继续不忘初心，为社会进步不断努力奋斗；为教育强国，加快建设创新型国家和世界科技强国作出应有贡献。
            副校长黄先海主持仪式并宣读获奖者名单，获奖者代表黎军、任奎分享了工作的心得和体会，表达了建功新一轮“双一流”的决心和信心。
            碧桂园集团办华东大区经理余俊俊，浙江大学人才工作办公室、教育基金会、工学部、农业生命环境学部、航空航天学院、计算机科学与技术学院、农业与生物技术学院有关负责人出席上述活动。
        </div>
        <ul type="none" style="margin:20px;">
            <li style="margin: 25px;text-align: center;"><a href="https://webvpn.zju.edu.cn/portal/?redirect_uri=http%3A%2F%2Fzhfw-zju-edu-cn.webvpn.zju.edu.cn%3A8001%2F#!/login" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>综合服务</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="https://www.zju.edu.cn/593/list.htm" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>学校机构</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="https://www.zju.edu.cn/604/list.htm" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>教师队伍</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="http://ugrs.zju.edu.cn/" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>教育教学</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="http://rwsk.zju.edu.cn/" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>科学研究</b></a></li>
            <li style="margin: 25px;text-align: center;"><a href="https://zdzsc.zju.edu.cn/" style="text-decoration: none;color: mediumslateblue;size: 20px"><b>招生就业</b></a></li>
        </ul>

    </div>
</div>

</body>
</html>